<%= form_with(model: prescription_medicine, local: true) do |form| %>
  <% if prescription_medicine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prescription_medicine.errors.count, "error") %> prohibited this prescription_medicine from being saved:</h2>

      <ul>
      <% prescription_medicine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :medicine_type_id %>
    <%= form.number_field :medicine_type_id, id: :prescription_medicine_medicine_type_id %>
  </div>

  <div class="field">
    <%= form.label :prescription_id %>
    <%= form.number_field :prescription_id, id: :prescription_medicine_prescription_id %>
  </div>

  <div class="field">
    <%= form.label :limit %>
    <%= form.number_field :limit, id: :prescription_medicine_limit %>
  </div>

  <div class="field">
    <%= form.label :purchased %>
    <%= form.number_field :purchased, id: :prescription_medicine_purchased %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
